/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #007ACC, #00A8E8); /* Updated gradient */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: #007ACC; /* Updated to match the overall color scheme */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}