.footer {
  background: linear-gradient(to bottom right, #1D1E2C, #00A8E8);
  color: #E0E0E0;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: #E0E0E0;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
}

.footer a:hover {
  text-decoration: underline;
}