/* src/styles/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* Increased padding for a larger navbar */
  background: linear-gradient(to bottom, #d32f2f, #d32f2f); 
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px; /* Adjust the height for a larger logo */
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px; /* Add gap between links */
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px; /* Increased font size */
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #ffeb3b; /* Subtle hover effect */
}

.navbar-user {
  display: flex;
  align-items: center;
}

.navbar-user span {
  color: white;
  margin-right: 10px;
  font-size: 16px; /* Consistent font size */
}

.navbar-user button,
.navbar-user a {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 15px; /* Increased padding */
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px; /* Consistent font size */
  transition: background-color 0.3s;
}

.navbar-user button:hover,
.navbar-user a:hover {
  background-color: #c12e2a; /* Darker hover effect */
}
