/* Navbar.css */
.navbar {
  background-color: #1D1E2C;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  width: 150px;
  height: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #00A8E8;
}

.navbar-user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-user span {
  margin-right: 10px;
}

.navbar-user button,
.navbar-user a {
  background-color: #00A8E8;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar-user button:hover,
.navbar-user a:hover {
  background-color: #008BB5;
}